<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"[]>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">
<head>
    <!--
    Created by Artisteer v3.0.0.41155
    Base template (without user's data) checked by http://validator.w3.org : "This page is valid XHTML 1.0 Transitional"
    -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Home</title>
    <meta name="description" content="Description" />
    <meta name="keywords" content="Keywords" />


    <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
    <!--[if IE 6]><link rel="stylesheet" href="style.ie6.css" type="text/css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="style.ie7.css" type="text/css" media="screen" /><![endif]-->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="script.js"></script>
</head>
<body>
<div id="art-page-background-middle-texture">
<div id="art-main">
    <div class="cleared reset-box"></div>
    <div class="art-header">
        <div class="art-header-clip">
        <div class="art-header-center">
            <div class="art-header-png"></div>
            <div class="art-header-jpeg"></div>
        </div>
        </div>
    <div class="art-header-wrapper">
    <div class="art-header-inner">
        <div class="art-headerobject"></div>
        <div class="art-logo">
                 <h1 class="art-logo-name"><a href="./index.html">pharmaceutical advertising </a></h1>
                         <h2 class="art-logo-text">&amp; brand activation</h2>
                </div>
    </div>
    </div>
    </div>
    <div class="cleared reset-box"></div>
<div class="art-nav">
	<div class="art-nav-l"></div>
	<div class="art-nav-r"></div>
<div class="art-nav-outer">
<div class="art-nav-wrapper">
<div class="art-nav-inner">
	<ul class="art-hmenu">
		<li>
			<a href="./home.html" class="active"><span class="l"></span><span class="r"></span><span class="t">Home</span></a>
		</li>	
		<li>
			<a href="./services.html"><span class="l"></span><span class="r"></span><span class="t">Services</span></a>
		</li>	
		<li>
			<a href="./about-us.html"><span class="l"></span><span class="r"></span><span class="t">About Us</span></a>
		</li>	
		<li>
			<a href="./our-portfolio.html"><span class="l"></span><span class="r"></span><span class="t">Our Portfolio</span></a>
		</li>	
		<li>
			<a href="./contact-us.html"><span class="l"></span><span class="r"></span><span class="t">Contact Us</span></a>
		</li>	
	</ul>
</div>
</div>
</div>
</div>
<div class="cleared reset-box"></div>
<div class="art-sheet">
        <div class="art-sheet-tl"></div>
        <div class="art-sheet-tr"></div>
        <div class="art-sheet-bl"></div>
        <div class="art-sheet-br"></div>
        <div class="art-sheet-tc"></div>
        <div class="art-sheet-bc"></div>
        <div class="art-sheet-cl"></div>
        <div class="art-sheet-cr"></div>
        <div class="art-sheet-cc"></div>
        <div class="art-sheet-body">
            <div class="art-content-layout">
                <div class="art-content-layout-row">
                    <div class="art-layout-cell art-content">
<div class="art-post">
    <div class="art-post-body">
<div class="art-post-inner art-article">
                                <h2 class="art-postheader">
                <img src="./images/postheadericon.png" width="9" height="9" alt="" />Home
                                </h2>
                <div class="cleared"></div>
                                <div class="art-postcontent">

<h1><span style="color:rgb(202, 12, 12);font-family:'Helvetica CY';font-size:24px;">Welcome to Oz  </span></h1>
<h1 style="text-align:right;"><span style="color:rgb(202, 12, 12);font-family:'Helvetica CY';font-size:24px;"> </span><span style="font-size:9px;"><span style="color:rgb(76, 64, 61);"><span style="font-family:Arial;">pdf|print|email</span></span></span><span style="color:rgb(202, 12, 12);font-family:'Helvetica CY';font-size:24px;">                  </span></h1>
<h1><span style="font-weight:bold;"><span style="color:rgb(202, 12, 12);"><span style="font-size:24px;"><span style="font-family:'Helvetica CY';"> </span></span></span></span><span style="color:rgb(76, 64, 61);font-family:Tahoma, Arial, Helvetica, sans-serif;font-weight:normal;letter-spacing:1px;font-size:12px;"><span style="font-family:Arial;"><span style="font-size:11px;">We opened our first office in 1995. </span></span><span style="font-weight:bold;"><span style="font-family:Arial;"><span style="font-size:11px;"><span style="color:rgb(202, 12, 12);">Oz Healthcare Communications</span></span></span></span><span style="font-family:Arial;"><span style="font-size:11px;"> is a <span style="font-weight:bold;">full-service advertising</span> and <span style="font-weight:bold;">PR </span><span style="font-weight:bold;">agency</span> with a reputation for results.We have a specialist Healthcare publicity arm which differentiates us from other traditional agencies.</span></span></span></h1>
<p><span style="color:rgb(76, 64, 61);"><span style="font-family:Arial;"><span style="font-size:11px;">We are in the business of <span style="font-weight:bold;">creating value</span>. True success not only comes from securing phenomenal objective-led outcomes but also from enjoying the process by which they are achieved. Exploring options and debating different points of views comes naturally for us - the people at <span style="font-weight:bold;"><span style="color:rgb(202, 12, 12);">Oz </span></span>have an ability to see things beyond the obvious and to identify the best ways to <span style="font-weight:bold;">assist</span> the <span style="font-weight:bold;">brands</span> and <span style="font-weight:bold;">projects</span> entrusted to us to flourish. </span></span></span></p>
<p style="text-align:center;"> <span class="art-button-wrapper"><span class="art-button-l"> </span><span class="art-button-r"> </span><a class="art-button"><span style="color:rgb(251, 250, 248);">Contact Us</span></a></span></p>
<p style="text-align:center;"><img width="638" height="22" alt="" src="./images/line.png" /> </p>
<p style="text-align:left;"><span style="color:rgb(244, 95, 31);font-family:'Helvetica CY';letter-spacing:2px;font-size:14px;font-weight:bold;">WHAT WE DO</span></p>
<p><img width="652" height="500" alt="" src="./images/serv.png" /><br /></p>
<p style="text-align:center;"> <span class="art-button-wrapper"><span class="art-button-l"> </span><span class="art-button-r"> </span><a class="art-button">See more of our portfolio</a></span> <br /></p>
<p><img width="638" height="22" alt="" src="./images/line.png" /><span style="color:rgb(244, 95, 31);font-family:'Helvetica CY';letter-spacing:2px;font-size:14px;font-weight:bold;"><br /></span></p>
<p><span style="color:rgb(244, 95, 31);font-family:'Helvetica CY';letter-spacing:2px;font-size:14px;font-weight:bold;">WHY CHOOSE US?</span></p>
<p><span style="font-family:Arial;"><span style="font-size:11px;">We are <span style="font-weight:bold;">specialists</span> in our field. <span style="font-weight:bold;"><span style="color:rgb(202, 12, 12);">Oz</span></span> has grown into a strong healthcare agency with a permanent staff compliment of 12 and today <span style="color:rgb(202, 12, 12);"><span style="font-weight:bold;">Oz</span></span> has a team of <span style="font-weight:bold;">experienced</span> strategists, designers and artists, medical and consumer writers, web programmers, media specialists and account executives. </span></span></p>
<p><span style="color:rgb(202, 12, 12);"><span style="font-weight:bold;"><span style="font-family:Arial;"><span style="font-size:11px;">Oz Healthcare Communications</span></span></span></span><span style="font-family:Arial;"><span style="font-size:11px;"> is for ambitious <span style="font-weight:bold;">pharmaceutical</span> and <span style="font-weight:bold;">healthcare</span> managers who want to see <span style="font-weight:bold;">measured success</span>. Our service offers strategic insight and relevant capabilities to initiate successful and measurable campaigns.</span></span></p>
<p><span style="font-family:Arial;"><span style="font-size:11px;">Successfully marketing healthcare products and services often requires <span style="font-weight:bold;">support</span> from an experienced agency. If your company sells pharmaceuticals or healthcare products or services, make your way through our profile to see why we are the perfect advertising and PR agency for you!.</span></span></p>
<p style="text-align:center;"><span style="color:rgb(202, 12, 12);"><span style="font-family:'Helvetica CY';"><span style="font-size:14px;">We've </span></span><span style="font-weight:bold;"><span style="font-family:'Helvetica CY';"><span style="font-size:14px;">specialised</span></span></span><span style="font-family:'Helvetica CY';"><span style="font-size:14px;"> in this space for 15 years and have the ability to get up to speed quickly to generate effective work that resonates with your customers and stakeholders.</span></span></span></p>
<p><img width="638" height="22" alt="" src="./images/line.png" /><span style="font-family:Arial;"><span style="font-size:11px;"><br /></span></span></p>
<h2><span style="color:rgb(244, 95, 31);font-family:'Helvetica CY';font-size:14px;font-weight:bold;"> OUR CLIENTS </span></h2>
<p><img width="600" height="99" alt="" src="./images/slide.png" /><br /></p>
<p><br /></p>
<p><br /><span style="font-size:11px;"><span style="font-weight:bold;"><span style="font-family:'Helvetica CY';"><span style="color:rgb(255, 122, 20);"><br /></span></span></span></span></p>


                </div>
                <div class="cleared"></div>
                </div>

		<div class="cleared"></div>
    </div>
</div>

                      <div class="cleared"></div>
                    </div>
                    <div class="art-layout-cell art-sidebar1">
<div class="art-block">
    <div class="art-block-tl"></div>
    <div class="art-block-tr"></div>
    <div class="art-block-bl"></div>
    <div class="art-block-br"></div>
    <div class="art-block-tc"></div>
    <div class="art-block-bc"></div>
    <div class="art-block-cl"></div>
    <div class="art-block-cr"></div>
    <div class="art-block-cc"></div>
    <div class="art-block-body">
                <div class="art-blockheader">
                    <div class="l"></div>
                    <div class="r"></div>
                    <h3 class="t">Search</h3>
                </div>
                <div class="art-blockcontent">
                    <div class="art-blockcontent-tl"></div>
                    <div class="art-blockcontent-tr"></div>
                    <div class="art-blockcontent-bl"></div>
                    <div class="art-blockcontent-br"></div>
                    <div class="art-blockcontent-tc"></div>
                    <div class="art-blockcontent-bc"></div>
                    <div class="art-blockcontent-cl"></div>
                    <div class="art-blockcontent-cr"></div>
                    <div class="art-blockcontent-cc"></div>
                    <div class="art-blockcontent-body">
                <div>
  <form method="get" name="searchform" action="#">
    <input type="text" value="" name="s" style="width: 95%;" />
     <span class="art-button-wrapper">
      <span class="art-button-l"> </span>
      <span class="art-button-r"> </span>
      <a class="art-button" href="javascript:void(0)">Search</a>
    </span> 

  </form>
</div>                
                                		<div class="cleared"></div>
                    </div>
                </div>
		<div class="cleared"></div>
    </div>
</div>
<div class="art-block">
    <div class="art-block-tl"></div>
    <div class="art-block-tr"></div>
    <div class="art-block-bl"></div>
    <div class="art-block-br"></div>
    <div class="art-block-tc"></div>
    <div class="art-block-bc"></div>
    <div class="art-block-cl"></div>
    <div class="art-block-cr"></div>
    <div class="art-block-cc"></div>
    <div class="art-block-body">
                <div class="art-blockheader">
                    <div class="l"></div>
                    <div class="r"></div>
                    <h3 class="t">connect with us</h3>
                </div>
                <div class="art-blockcontent">
                    <div class="art-blockcontent-tl"></div>
                    <div class="art-blockcontent-tr"></div>
                    <div class="art-blockcontent-bl"></div>
                    <div class="art-blockcontent-br"></div>
                    <div class="art-blockcontent-tc"></div>
                    <div class="art-blockcontent-bc"></div>
                    <div class="art-blockcontent-cl"></div>
                    <div class="art-blockcontent-cr"></div>
                    <div class="art-blockcontent-cc"></div>
                    <div class="art-blockcontent-body">
                
<p><img width="147" height="32" alt="" src="Social%20media.png" /><br /></p>

                
                                		<div class="cleared"></div>
                    </div>
                </div>
		<div class="cleared"></div>
    </div>
</div>
<div class="art-block">
    <div class="art-block-tl"></div>
    <div class="art-block-tr"></div>
    <div class="art-block-bl"></div>
    <div class="art-block-br"></div>
    <div class="art-block-tc"></div>
    <div class="art-block-bc"></div>
    <div class="art-block-cl"></div>
    <div class="art-block-cr"></div>
    <div class="art-block-cc"></div>
    <div class="art-block-body">
                <div class="art-blockheader">
                    <div class="l"></div>
                    <div class="r"></div>
                    <h3 class="t">newsletter</h3>
                </div>
                <div class="art-blockcontent">
                    <div class="art-blockcontent-tl"></div>
                    <div class="art-blockcontent-tr"></div>
                    <div class="art-blockcontent-bl"></div>
                    <div class="art-blockcontent-br"></div>
                    <div class="art-blockcontent-tc"></div>
                    <div class="art-blockcontent-bc"></div>
                    <div class="art-blockcontent-cl"></div>
                    <div class="art-blockcontent-cr"></div>
                    <div class="art-blockcontent-cc"></div>
                    <div class="art-blockcontent-body">
                
<p><span style="font-family:Arial;"><span style="font-size:11px;"><span style="font-weight:bold;">SUBSCRIBE</span> to our monthly newsletter and receive a <span style="font-weight:bold;">FREE</span> pitch template.</span></span></p>
<p style="text-align:center;"> <span class="art-button-wrapper"><span class="art-button-l"> </span><span class="art-button-r"> </span><a class="art-button">Subscribe Now</a></span> <br /></p>
<p style="text-align:center;"><span style="font-family:Arial;font-weight:bold;"> <span style="text-decoration:underline;"><span style="font-size:11px;">See our privacy policy</span></span></span></p>

                
                                		<div class="cleared"></div>
                    </div>
                </div>
		<div class="cleared"></div>
    </div>
</div>
<div class="art-block">
    <div class="art-block-tl"></div>
    <div class="art-block-tr"></div>
    <div class="art-block-bl"></div>
    <div class="art-block-br"></div>
    <div class="art-block-tc"></div>
    <div class="art-block-bc"></div>
    <div class="art-block-cl"></div>
    <div class="art-block-cr"></div>
    <div class="art-block-cc"></div>
    <div class="art-block-body">
                <div class="art-blockheader">
                    <div class="l"></div>
                    <div class="r"></div>
                    <h3 class="t">news &amp; events</h3>
                </div>
                <div class="art-blockcontent">
                    <div class="art-blockcontent-tl"></div>
                    <div class="art-blockcontent-tr"></div>
                    <div class="art-blockcontent-bl"></div>
                    <div class="art-blockcontent-br"></div>
                    <div class="art-blockcontent-tc"></div>
                    <div class="art-blockcontent-bc"></div>
                    <div class="art-blockcontent-cl"></div>
                    <div class="art-blockcontent-cr"></div>
                    <div class="art-blockcontent-cc"></div>
                    <div class="art-blockcontent-body">
                
<p><span style="color:rgb(202, 12, 12);"><span style="font-weight:bold;"><span style="text-decoration:underline;">Heart Awareness</span></span></span></p>
<p><span style="font-size:10px;"><span style="color:rgb(245, 80, 10);">20th August 2011</span></span></p>
<p>Heart awareness week....</p>
<p style="text-align:right;"><span style="font-size:10px;"><span style="color:rgb(245, 80, 10);">More...</span></span></p>
<p style="text-align:left;"><span style="color:rgb(202, 12, 12);"><span style="font-weight:bold;"><span style="text-decoration:underline;">Cancer Awareness</span></span></span></p>
<p style="text-align:left;"><span style="font-size:10px;"><span style="color:rgb(245, 80, 10);">26th August 2011</span></span></p>
<p style="text-align:left;"><span style="color:rgb(29, 23, 22);">Have you had a mammogram this year.....</span></p>
<p style="text-align:right;"><span style="font-size:10px;"><span style="color:rgb(245, 80, 10);">More....</span></span></p>

                
                                		<div class="cleared"></div>
                    </div>
                </div>
		<div class="cleared"></div>
    </div>
</div>
<div class="art-block">
    <div class="art-block-tl"></div>
    <div class="art-block-tr"></div>
    <div class="art-block-bl"></div>
    <div class="art-block-br"></div>
    <div class="art-block-tc"></div>
    <div class="art-block-bc"></div>
    <div class="art-block-cl"></div>
    <div class="art-block-cr"></div>
    <div class="art-block-cc"></div>
    <div class="art-block-body">
                <div class="art-blockheader">
                    <div class="l"></div>
                    <div class="r"></div>
                    <h3 class="t">recommendations</h3>
                </div>
                <div class="art-blockcontent">
                    <div class="art-blockcontent-tl"></div>
                    <div class="art-blockcontent-tr"></div>
                    <div class="art-blockcontent-bl"></div>
                    <div class="art-blockcontent-br"></div>
                    <div class="art-blockcontent-tc"></div>
                    <div class="art-blockcontent-bc"></div>
                    <div class="art-blockcontent-cl"></div>
                    <div class="art-blockcontent-cr"></div>
                    <div class="art-blockcontent-cc"></div>
                    <div class="art-blockcontent-body">
                
<p><span style="font-style:italic;"><span style="color:rgb(0, 4, 214);">(Need info for this)</span></span></p>
<p>"We utilised Oz services and were suitably impressed"</p>
<p><span style="font-weight:bold;">John sabdy</span></p>
<p><span style="font-family:'Helvetica CY';"><span style="font-style:italic;"><span style="color:rgb(202, 12, 12);"><span style="font-weight:bold;">Marketing Director - Roche</span></span></span></span></p>

                
                                		<div class="cleared"></div>
                    </div>
                </div>
		<div class="cleared"></div>
    </div>
</div>
<div class="art-block">
    <div class="art-block-tl"></div>
    <div class="art-block-tr"></div>
    <div class="art-block-bl"></div>
    <div class="art-block-br"></div>
    <div class="art-block-tc"></div>
    <div class="art-block-bc"></div>
    <div class="art-block-cl"></div>
    <div class="art-block-cr"></div>
    <div class="art-block-cc"></div>
    <div class="art-block-body">
                <div class="art-blockheader">
                    <div class="l"></div>
                    <div class="r"></div>
                    <h3 class="t">pORTFOLIO</h3>
                </div>
                <div class="art-blockcontent">
                    <div class="art-blockcontent-tl"></div>
                    <div class="art-blockcontent-tr"></div>
                    <div class="art-blockcontent-bl"></div>
                    <div class="art-blockcontent-br"></div>
                    <div class="art-blockcontent-tc"></div>
                    <div class="art-blockcontent-bc"></div>
                    <div class="art-blockcontent-cl"></div>
                    <div class="art-blockcontent-cr"></div>
                    <div class="art-blockcontent-cc"></div>
                    <div class="art-blockcontent-body">
                
<ul>
	<li><span style="line-height:normal;font-weight:bold;"><span style="color:rgb(76, 64, 61);"><span style="text-decoration:underline;">Advertising</span></span></span></li>
	<li><span style="line-height:normal;font-weight:bold;"><span style="color:rgb(76, 64, 61);"><span style="text-decoration:underline;">PR &amp; Publicity</span></span></span></li>
	<li><span style="line-height:normal;font-weight:bold;"><span style="color:rgb(76, 64, 61);"><span style="text-decoration:underline;">Events</span></span></span></li>
	<li><span style="line-height:normal;font-weight:bold;"><span style="color:rgb(76, 64, 61);"><span style="text-decoration:underline;">Wellness Days</span></span></span></li>
	<li><span style="line-height:normal;font-weight:bold;"><span style="color:rgb(76, 64, 61);"><span style="text-decoration:underline;">TV production</span></span></span></li>
</ul>
<p><span class="art-button-wrapper"><span class="art-button-l"> </span><span class="art-button-r"> </span><a class="art-button"><span style="font-size:10px;">See Latest Campaigns</span></a></span> </p>

                
                                		<div class="cleared"></div>
                    </div>
                </div>
		<div class="cleared"></div>
    </div>
</div>
<div class="art-block">
    <div class="art-block-tl"></div>
    <div class="art-block-tr"></div>
    <div class="art-block-bl"></div>
    <div class="art-block-br"></div>
    <div class="art-block-tc"></div>
    <div class="art-block-bc"></div>
    <div class="art-block-cl"></div>
    <div class="art-block-cr"></div>
    <div class="art-block-cc"></div>
    <div class="art-block-body">
                <div class="art-blockheader">
                    <div class="l"></div>
                    <div class="r"></div>
                    <h3 class="t">Tag cloud</h3>
                </div>
                <div class="art-blockcontent">
                    <div class="art-blockcontent-tl"></div>
                    <div class="art-blockcontent-tr"></div>
                    <div class="art-blockcontent-bl"></div>
                    <div class="art-blockcontent-br"></div>
                    <div class="art-blockcontent-tc"></div>
                    <div class="art-blockcontent-bc"></div>
                    <div class="art-blockcontent-cl"></div>
                    <div class="art-blockcontent-cr"></div>
                    <div class="art-blockcontent-cc"></div>
                    <div class="art-blockcontent-body">
                
<p><img width="146" height="100" alt="" src="word%20cloud.jpg" /><br /></p>

                
                                		<div class="cleared"></div>
                    </div>
                </div>
		<div class="cleared"></div>
    </div>
</div>

                      <div class="cleared"></div>
                    </div>
                </div>
            </div>
            <div class="cleared"></div>
            <div class="art-footer">
                <div class="art-footer-t"></div>
                <div class="art-footer-l"></div>
                <div class="art-footer-b"></div>
                <div class="art-footer-r"></div>
                <div class="art-footer-body">
                    <a href="#" class="art-rss-tag-icon" title="RSS"></a>
                            <div class="art-footer-text">
                                
<p>Home | Services | Our portfolio | About us | Contact Us | Privacy Policy | Terms &amp; Conditions</p>
<p>Copyright © Oz Healthcare Communications 2011. All Rights Reserved.</p>


                                                            </div>
                    <div class="cleared"></div>
                </div>
            </div>
    		<div class="cleared"></div>
        </div>
    </div>
    <div class="cleared"></div>
    <p class="art-page-footer"><a href="http://www.artisteer.com/?p=website_templates">Website Template</a> created with Artisteer.</p>
    <div class="cleared"></div>
</div>
</div>

</body>
</html>
